@font-face {
	font-family: 'Geogrotesque';
	src: url('../font/Geogrotesque-Bold.eot');
	src: url('../font/Geogrotesque-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Geogrotesque-Bold.woff') format('woff'),
		url('../font/Geogrotesque-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Geogrotesque';
	src: url('../font/Geogrotesque-SemiBold.eot');
	src: url('../font/Geogrotesque-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../font/Geogrotesque-SemiBold.woff') format('woff'),
		url('../font/Geogrotesque-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Geogrotesque';
	src: url('../font/Geogrotesque-Medium.eot');
	src: url('../font/Geogrotesque-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/Geogrotesque-Medium.woff') format('woff'),
		url('../font/Geogrotesque-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geogrotesque';
	src: url('../font/Geogrotesque-Regular.eot');
	src: url('../font/Geogrotesque-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/Geogrotesque-Regular.woff') format('woff'),
		url('../font/Geogrotesque-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geogrotesque';
	src: url('../font/Geogrotesque-Light.eot');
	src: url('../font/Geogrotesque-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/Geogrotesque-Light.woff') format('woff'),
		url('../font/Geogrotesque-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
