.custom-input {
    .input {
        position: relative;
        display: inline-block;
        margin: 0;
        width: 100%;
        vertical-align: top;
    }
    .input__field {
        position: relative;
        display: block;
        float: right;
        padding: 0.8em;
        width: 60%;
        border: none;
        border-radius: 0;
        background: #f0f0f0;
        color: #aaa;
        font-weight: 400;
    }
    .input__field:focus {
        outline: none;
    }
    .input__label {
        display: inline-block;
        float: right;
        padding: 0 1em;
        width: 40%;
        color: #696969;
        font-weight: bold;
        font-size: 70.25%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .input__label-content {
        position: relative;
        display: block;
        padding: 1.6em 0;
        width: 100%;
        font-size: 13px;
        b {
            color: $color-rojo;
        }
    }
    .graphic {
        position: absolute;
        top: 0;
        left: 0;
        fill: none;
    }
    .icon {
        color: #000;
        font-size: 150%;
    }
    /* Chisato */
    .input--chisato {
        padding-top: 27px;
    }
    .input__field--chisato {
        font-size: 13px;
        width: 100%;
        padding: 0.3em 0.5em;
        background: transparent;
        border: 1.6px solid;
        color: #5d5c5c;
        font-weight: 600;
        -webkit-transition: border-color 0.25s;
        transition: border-color 0.25s;
    }
    .input__label--chisato {
        width: 100%;
        position: absolute;
        top: 0;
        text-align: left;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        -webkit-transform: translate3d(0, 3em, 0);
        transform: translate3d(0, 3em, 0);
    }
    .input__label-content--chisato {
        padding: 2px 1em;
        font-weight: 400;
        color: #333;
    }
    .input__label-content--chisato::after {
        content: attr(data-content);
        position: absolute;
        top: -170%;
        left: 0;
        color: $color-azul;
        font-weight: 800;
    }
    .input__field--chisato:focus,
    .input--filled .input__field--chisato {
        border-color: $color-azul;
    }
    .input__field--chisato:focus+.input__label--chisato,
    .input--filled .input__label--chisato {
        -webkit-animation: anim-chisato-1 0.25s forwards;
        animation: anim-chisato-1 0.25s forwards;
    }
    .input__field--chisato:focus+.input__label--chisato .input__label-content--chisato,
    .input--filled .input__label-content--chisato {
        -webkit-animation: anim-chisato-2 0.25s forwards ease-in;
        animation: anim-chisato-2 0.25s forwards ease-in;
    }
    @-webkit-keyframes anim-chisato-1 {
        0%,
        70% {
            -webkit-transform: translate3d(0, 3em, 0);
            transform: translate3d(0, 3em, 0);
        }
        71%,
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    @-webkit-keyframes anim-chisato-2 {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        70%,
        71% {
            -webkit-transform: translate3d(0, 125%, 0);
            transform: translate3d(0, 125%, 0);
            opacity: 0;
            -webkit-animation-timing-function: ease-out;
        }
        100% {
            color: transparent;
            -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0);
        }
    }
    @keyframes anim-chisato-1 {
        0%,
        70% {
            -webkit-transform: translate3d(0, 3em, 0);
            transform: translate3d(0, 3em, 0);
        }
        71%,
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes anim-chisato-2 {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        70%,
        71% {
            -webkit-transform: translate3d(0, 125%, 0);
            transform: translate3d(0, 125%, 0);
            opacity: 0;
            -webkit-animation-timing-function: ease-out;
        }
        100% {
            color: transparent;
            -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0);
        }
    }
    input,
    select {
        &.error {
            border-color: $color-rojo!important;
        }
    }
}
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown {
    max-height: 150px!important;
}