
$color-negro:#000;
$color-violeta:#5a3369;
$color-azul:#2d9abd;
$color-turqueza:#2dbd82;
$color-blanco:#fff;
$color-verde:#adbd2d;
$color-naranja:#ec9b00;
$color-gris:#e7e7e7;
$color-rojo:#fa1400;

$amount: 0.7;
$color-Transparent:transparent;

%Text-Mayuscula{
   text-transform: uppercase;
}